$column:60px;
$gutter:20px;

@import 'gradient', 'extras'

html {
  padding-top:0px;
  margin-top:0px;
  width:100%;
}

body {
  background: #060606;
  color:#CCC;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  position: relative;
  top:-12px;
  width:(($column + $gutter)*12)+10;
}

a { color: #852025; text-decoration:none;
  &:link { color: #852025; }
  &:visited { color:#751c21; }
  &:hover { color:#FAFAFA; text-decoration:underline; }
  &:active { color: white; }

}
h1 { font-size: 1.71428571em; }

header { height: 60px; width:1090px;}

#search_bar { 
  float:left;
  left:30px;
  position: relative;
  top:20px;
  width:140px;
  
  input{
    @include round-all;
    float:left;
    margin-right:0.5em;
    width:90px;
  }
}

header h1 {
  height:100%;
  margin-left:170px;
  position:relative;
  width: ($column + $gutter)*10;
  
  @include header_gradient;
}

nav#sidebar {
  float:left;
  position:relative;
  width:150px;
}

#social ul {
  overflow-x:hidden;
  position:relative;
  left:35px;
  top: 5px;
  
  li{
    float: left;
    height:32px;
    margin-right:10px;
    text-indent: -9999em;
    width:32px;
    
    &:nth-of-type(2) a{ background-position: -32px 0; }
    &:nth-of-type(3) a{ background-position: -64px 0; }
    
    a{
      background-image: url('../images/social_sprite.png');
      display:block;
      opacity:0.5;
      height:32px;
      width:32px;
      
      &:hover{
        opacity:1;
        @include opac-trans;
      }
    }
  }
}

#main_nav{
  box-shadow: 1px 1px 2px 1px #333;
  height:520px;
  margin: 1em 20px 0 0;
  width:150px;
  
  -webkit-box-shadow: 1px 1px 2px 1px #333;
  -moz-box-shadow: 1px 1px 2px 1px #333;
  
  @include round-right;
  @include nav-gradient;
  
  > li{
    font-size:1.28em;
    font-weight:bold;
    border-bottom: 2px solid #2c0d0c;
    padding: 0.5em;
    text-shadow: 1px 1px 0px #111;
  }
  ul li{
    font-size:14px;
    font-weight:normal;
    margin:1em 0;
    text-shadow: none;
    
    a{
      color:#060606;
    }
  }
  li ul{
    display:none;
    margin-bottom:-22px;
    padding-left: $gutter;
    position:relative;
    right:$gutter;
    width:142px;
    
    @include nav-sub-gradient;
  }
}

.no-js #main_nav li:hover ul{
    display:block;
    padding-bottom:0;
}

#content {
  float:left;
  margin-left: $gutter;
  
 
  div.column{
    float:left;
    padding-right:20px;
    width: 380px;
    z-index: 10;
    
    h1{
      text-align:center;
      text-shadow: 1px 1px 0px #333;
      filter: dropshadow(color=#333, offx=1, offy=1);
      z-index: -100;
    }
    
    > h1{
      @include round-top;
      border-right:2px solid rgba(66,66,66,0.5);
      height:40px;
      line-height: 40px;
      margin-bottom: 0;
      margin-top: 5px;
      width: 100.25%;
    }
    
    img {
      width:100%;
      z-index: -100;
    }
  }
}

#content div.column > h1{
  @include round-top(10px);
  @include col-head-gradient;

}
#content div.column div.poster{
  position:relative;
  
  img{
    -webkit-box-shadow: 1px 1px 2px 1px #333;
    -moz-box-shadow: 1px 1px 2px 1px #333;
    box-shadow: 1px 1px 2px 1px #333;
  }
  
  div.overlay{
    @include round-bottom;
    background-color: rgba(0,0,0, 0.9);
    display:none;
    height:50%;
    position:absolute;
    width:100%;
  }
  
  ul, p{
    margin-left: 84px;
    margin-right:2em;
  }
    
  &:hover div.overlay{
    display:block;
  }
}

#content div.column div.overlay h1 { font-size:1.28em; margin-left: 84px; text-align:left; }
#content div.column div.overlay p.dates { font-weight: bold; }

#content div.column div.overlay p.links a { padding:0.5em; }
#content div.column div.overlay p.links { color:#852025; }

footer{
  float:left;
  margin-top:
  20px;
  
  div{
    float:left;
    width: ($column*2 + $gutter + 10);
    
    p{ margin:0; }
  }
  div.column{
    margin-left:$gutter;
    width: 380px;
  }
}

div.xmas{
  background: url(../images/holly.png) 0 0 no-repeat;
  height:38px;
  position:absolute;
  right:-10px;
  top:-10px;
  width:38px;
  z-index:9000;
}
