@import 'gradient', 'extras';

#content {
  @include content_style;
  
  div.column{
    @include column(5);
    @include header_treatment;
    
    img {
      width:100%;
      z-index: -100;
    }
    
    .poster{
      position:relative; 
      
      h1{ font-size:1.28em; margin-left: 84px; text-align:left; }
      img{ @include box-shadow(1px 1px 2px 1px #333);}
      p.dates{ font-weight:bold; }
      
      p.links{
        color:#852025;
        a{ padding:0.5em; }
      }
      
      ul, p{
        margin-left: 84px;
        margin-right:2em;
      }
      
      .overlay{
        @include border-bottom-radius(20px);
        background-color: rgba(0,0,0, 0.9);
        display:none;
        height:50%;
        position:absolute;
        width:100%;
      }
      &:hover div.overlay{ display:block; }
      
    }//End div.poster sytles
  }//end div.column styles
}// End #content styles