@mixin opac-trans($time: 500ms, $type: ease){
  -webkit-transition: opacity $time $type;
  -moz-transition: opacity $time $type;
  -o-transition: opacity $time $type;
  transition: opacity $time $type;
}