@import 'compass/css3';

$column:60px;
$gutter:20px;
$span:$column + $gutter;

$link_color:#852025;
$visited_color:#751c21;
$hover_color:#FAFAFA;
$active_color:#FFF;

$bg_color:#060606;
$offwhite:#eaeaea;
$pcs_brown:#422511;

html{
  padding-top:0px;
  margin-top:0px;
  width:100%;
}

body {
  background: $bg_color;
  color:#CCC;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  position: relative;
  top:-12px;
  width:(($column + $gutter)*12)+10;
}

a { color: $link_color; text-decoration:none;
  &:link { color: $link_color; }
  &:visited { color:$visited_color; }
  &:hover { color:#FAFAFA; text-decoration:underline; }
  &:active { color: $active_color; }

}
h1 { font-size: 1.71428571em; text-transform:uppercase;}

@mixin content_style{
  float:left;
  margin-left: $gutter;
}

@mixin column($num){
    float:left;
    padding-right:$gutter;
    position:relative;
    width: $span * ($num - 1) + $column;
    z-index: 10;
}

@mixin header_treatment{
  h1{
    text-align:center;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#333, offx=1, offy=1);
    z-index: -100;
  }
  
  > h1{
    @include border-top-radius(10px);
    @include col-head-gradient;
    border-right:2px solid rgba(66,66,66,0.5);
    height:40px;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 5px;
    width: 100.25%;
  }
}
