@import 'gradient', 'extras';

header { height: 60px; width:1090px;}

#search_bar { 
  float:left;
  left:30px;
  position: relative;
  top:20px;
  width:140px;
  
  input{
    @include border-radius(10px);
    float:left;
    margin-right:0.5em;
    width:90px;
  }
}

header h1 {
  height:100%;
  margin-left:170px;
  position:relative;
  width: $span*10;
  
  a{ height:100%; width:100%; }
  
  @include header_gradient;
  
  &:hover{background:$pcs_back;}
}